@import '../../../style/utils.scss';


.navigation {
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-buttons{
    height: 100%;
    width: 380px;
    button {
        background-color: $white;
        border-top: none;
        border-left: none;
        border-bottom: none;
        border-right: 1px solid $black;
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
        height: 35px;

    }

    button:last-child {
        border: none;
    }
    button:first-child {
        margin-left: 35px;
    }
}

