@import "../../../style/utils.scss";

.hero-about {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.hero-text {
  background-color: #fff;
  color: #000;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 80px 80px 120px;

  p {
    font-size: 20px;
    width: 50%;
    line-height: 32px;
  }
  h1 {
    width: 50%;
    letter-spacing: 4px;
    margin-bottom: 16px;
  }
}

.hero-image {
  position: absolute;
  width: 570px;
  height: 400px;
  left: 835px;
  top: 473px;
  
  background: url(./nature.png), #D9D9D9;
}
.hero-frame {
  position: absolute;
  width: 635px;
  height: 460px;
  left: 805px;
  top: 443px;
  
  background: #FFFFFF;
  box-shadow: 20px 0px 40px 30px rgba(120, 120, 120, 0.05);
}