@import './utils.scss';

@import '../components/Header/header.scss';
@import '../components/Hero/hero.scss';
@import '../components/Forum/forum.scss';
@import '../components/Featured/featured.scss';
@import '../components/Footer/footer.scss';


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

#root {
    background-color: $background;
//background-image: url(./img/Frame.png);
// background-repeat: no-repeat;

}

.content {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
}