@import '../../../style/utils.scss';

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 15px 30px 9px 32px;
    background-color: $white;
    border-bottom: 1px solid black;
}
.site-logo {
    width: 185px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        font-size: 20px;
        padding: 12px;
        margin: 0px 16px;
        border: none;
        background-color: inherit;
    }
    i {
        margin-right: 16px;
    }
}
