

.footer {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image {
    width: 1282px;
    height: 667px;
}