@import "../../../style/utils.scss";

.hero-welcome {
  background-image: url(./canoe.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $black;
  background-size: 100% 100%;
  width: 100%;
  height: 420px;
  padding: 32px 0 0px 135px;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h2 {
    font-size: 36px;
    font-weight: 400;
  }
  h1,
  h2 {
    font-family: "Josefin Sans";
  }
}

.hero-title {
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  line-height: 40px;
  color: $white;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  width: 370px;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.3px;
    border-radius: 8px;
  }
}

#register {
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 14px 15px 18px;
  gap: 28px;
}
#login {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 31px 15px 18px;
  gap: 34px;
}
