@import '../../style/utils.scss';
@import './About/about.scss';
@import './Welcome/welcome.scss';

.hero {
    height: 773px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
}